/*
 * Inference Service for Multi-Instance Image Segmentation
 * A functional service for multi-instance segmentation of consumer products and retail images.
 *
 * OpenAPI spec version: Alpha
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.sap.apibhub.sdk.instance_segmentor_api.api;

import com.sap.apibhub.sdk.client.ApiCallback;
import com.sap.apibhub.sdk.client.ApiClient;
import com.sap.apibhub.sdk.client.ApiException;
import com.sap.apibhub.sdk.client.ApiResponse;
import com.sap.apibhub.sdk.client.Configuration;
import com.sap.apibhub.sdk.client.Pair;
import com.sap.apibhub.sdk.client.ProgressRequestBody;
import com.sap.apibhub.sdk.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import java.io.File;
import com.sap.apibhub.sdk.instance_segmentor_api.model.ImageResponseOk;
import com.sap.apibhub.sdk.instance_segmentor_api.model.ResponseError;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class InstanceSegmentorFormatjpgApi {
    private ApiClient apiClient;

    public InstanceSegmentorFormatjpgApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InstanceSegmentorFormatjpgApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for pOSTInferenceImageSync */
    private com.squareup.okhttp.Call pOSTInferenceImageSyncCall(File files, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/instance-segmentor/format:jpg".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (files != null)
        localVarFormParams.put("files", files);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {"APIBHUB_SANDBOX_APIKEY", "Oauth2_ClientCredentials" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call pOSTInferenceImageSyncValidateBeforeCall(File files, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'files' is set
        if (files == null) {
            throw new ApiException("Missing the required parameter 'files' when calling pOSTInferenceImageSync(Async)");
        }
        
        
        com.squareup.okhttp.Call call = pOSTInferenceImageSyncCall(files, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Segment image synchronously and returns altered image as JSON object.
     * The input image will be segmented and the results will be returned synchronously. The results contain array of altered image in form base64 string.
     * @param files &lt;p&gt;The image to be segmented. Must be a single image file with three color channels. &lt;ul&gt; Accepted file extensions:**   &lt;li&gt;Image file: jpg jpe jpeg png** (required)
     * @return ImageResponseOk
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ImageResponseOk pOSTInferenceImageSync(File files) throws ApiException {
        ApiResponse<ImageResponseOk> resp = pOSTInferenceImageSyncWithHttpInfo(files);
        return resp.getData();
    }

    /**
     * Segment image synchronously and returns altered image as JSON object.
     * The input image will be segmented and the results will be returned synchronously. The results contain array of altered image in form base64 string.
     * @param files &lt;p&gt;The image to be segmented. Must be a single image file with three color channels. &lt;ul&gt; Accepted file extensions:**   &lt;li&gt;Image file: jpg jpe jpeg png** (required)
     * @return ApiResponse&lt;ImageResponseOk&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ImageResponseOk> pOSTInferenceImageSyncWithHttpInfo(File files) throws ApiException {
        com.squareup.okhttp.Call call = pOSTInferenceImageSyncValidateBeforeCall(files, null, null);
        Type localVarReturnType = new TypeToken<ImageResponseOk>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Segment image synchronously and returns altered image as JSON object. (asynchronously)
     * The input image will be segmented and the results will be returned synchronously. The results contain array of altered image in form base64 string.
     * @param files &lt;p&gt;The image to be segmented. Must be a single image file with three color channels. &lt;ul&gt; Accepted file extensions:**   &lt;li&gt;Image file: jpg jpe jpeg png** (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call pOSTInferenceImageSyncAsync(File files, final ApiCallback<ImageResponseOk> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = pOSTInferenceImageSyncValidateBeforeCall(files, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ImageResponseOk>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
